/*---------- example css ----------*/
/*name*/
.c-group-all {
  .btn-send {
    width: 100%;
    border: 1px solid;
    @include transition-default;
    font-weight: 700;
  }
  .c-group-text {
    margin: 10px 0;
    background: $color-gray-2;
    border: 0;
    font-size: 14px;
  }
}
.c-textarea {
  width: 100%;
  height: 100%;
  padding: 20px;
  background: $color-gray-2;
  border: 0;
  font-size: 14px;
  &:focus {
    outline: none;
    border: none;
  }
}
.is-margin {
  margin: 50px 0;
}
/*end name*/
//example responsive css
@media (min-width: $screen-sm-min) {
  //mobile lanscape
}
@media (min-width: $screen-md-min) {
  //ipad portrait
  .c-group-all {
    margin: 0;
    .btn-send {
      padding: 25px;
    }
    .c-group-text {
      margin: 0;
      padding: 40px;
      margin-bottom: 20px;
    }
  }
  .is-margin {
    margin: 50px 0;
    span {
      font-size: 18px;
    }
    p {
      font-size: 14px;
    }
  }
}
@media (min-width: $screen-lg-min) {
  //ipad lanscape & pc 1024x768px
  .is-margin {
    margin: 50px 0;
    span {
      font-size: 18px;
    }
    p {
      font-size: 14px;
    }
  }
  .c-group-all {
    .c-group-text {
      font-size: 20px;
    }
    .btn-send {
      &:hover {
        background: $color-primary;
        color: $color-white;
      }
    }
  }
  .c-textarea {
    font-size: 20px;
  }
}
@media (min-width: $screen-xl-min) {
  //pc & mac 1280px grow up
  .is-margin {
    margin: 100px 0;
  }
}
@media (min-width: $screen-xxl-min) {
  //pc & mac 1440px grow up
  .is-margin {
    margin: 146px 0;
    span {
      font-size: 25px;
    }
    p {
      font-size: 20px;
    }
  }
}
//end example responsive css
/*---------- end example css ----------*/
