/*---------- example css ----------*/
.c-text {
  text-align: center;
  font-size: 12px;
  line-height: 15px;
}

.c-link-text {
  text-align: center;
  font-size: 6px;
  margin: 30px 0;
  a {
    color: $color-black;
    padding-bottom: 3px;
    border-bottom: 1px solid rgba($color-black, 0.5);
    @include transition-default;
    &:hover {
      text-decoration: none;
    }
  }
}
.c-img-body {
  margin-bottom: 70px;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      width: 100%;
      float: left;
      margin-bottom: 10px;
      .c-img-body__img {
        position: relative;
        z-index: 1;
        display: block;
        p {
          position: absolute;
          z-index: 3;
          top: 20px;
          left: 20px;
          span {
            color: $color-black;
            display: block;
            &:first-child {
              font-size: 20px;
              font-weight: 700;
              text-transform: uppercase;
            }
            &:last-child {
              font-size: 17px;
            }
          }
        }
        img {
          width: 100%;
          position: relative;
          z-index: 2;
        }
        &.is-link {
          text-align: center;
          color: $color-black;
          @include transition-default;
          padding-top: 35%;
          background: $color-gray;
          text-decoration: none;
          span {
            position: absolute;
            z-index: 2;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 20px;
          }
        }
        &.is-white {
          p {
            span {
              color: $color-white;
            }
          }
        }
      }
    }
  }
}

//example responsive css
@media (min-width: $screen-sm-min) {
  //mobile lanscape
}
@media (min-width: $screen-md-min) {
  //ipad portrait
  .c-img-body {
    margin-bottom: 100px;
    ul {
      li {
        //margin: 0 20px 34px 0;
        .c-img-body__img {
          p {
            top: 35px;
            left: 35px;
          }
          img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
        }
        &:nth-child(7n + 1) {
          width: percentage(685/1200);
          .c-img-body__img {
            padding-top: percentage(599/680);
          }
          margin-bottom: 30px;
        }
        &:nth-child(7n + 2) {
          width: percentage(470/1200);
          //float: right;
          .c-img-body__img {
            padding-top: percentage(287/480);
          }
          margin-bottom: 25px;
          margin-left: 20px;
        }
        &:nth-child(7n + 3) {
          width: percentage(470/1200);
          //float: right;
          .c-img-body__img {
            padding-top: percentage(287/480);
          }
          margin-left: 20px;
          margin-bottom: 30px;
        }
        &:nth-child(7n + 4) {
          width: percentage(580/1200);
          .c-img-body__img {
            padding-top: percentage(351/580);
          }
          margin-bottom: 30px;
        }
        &:nth-child(7n + 5) {
          width: percentage(580/1200);
          //float: right;
          .c-img-body__img {
            padding-top: percentage(351/580);
          }
          margin-left: 20px;
          margin-bottom: 30px;
        }
        &:nth-child(7n + 6) {
          width: percentage(780/1200);
          .c-img-body__img {
            padding-top: percentage(433/780);
          }
        }
        &:nth-child(7n + 7) {
          width: percentage(380/1200);
          //float: right;
          .c-img-body__img {
            padding-top: percentage(433/380);
          }
          margin-left: 20px;
        }
      }
    }
  }
  .c-text {
    font-size: 30px;
    line-height: 40px;
  }

  .c-link-text {
    font-size: 15px;
    margin: 50px 0;
    a {
      padding-bottom: 5px;
      &:hover {
        color: $color-primary;
        border-bottom: 1px solid $color-primary;
      }
    }
  }
}
@media (min-width: $screen-lg-min) {
  //ipad lanscape & pc 1024x768px
  .c-img-body {
    ul {
      li {
        .c-img-body__img {
          &.is-link {
            &:hover {
              color: $color-primary;
            }
          }
        }
        &:nth-child(7n + 1) {
          $item-c-img-body-1: percentage(7/12);
          width: calc(#{$item-c-img-body-1} - 10px);
          .c-img-body__img {
            padding-top: percentage(599/680);
          }
          margin-bottom: 30px;
        }
        &:nth-child(7n + 2) {
          $item-c-img-body-2: percentage(5/12);
          width: calc(#{$item-c-img-body-2} - 10px);
          float: right;
          .c-img-body__img {
            padding-top: percentage(287/480);
          }
          margin-bottom: 20px;
          margin-left: 0;
        }
        &:nth-child(7n + 3) {
          $item-c-img-body-2: percentage(5/12);
          width: calc(#{$item-c-img-body-2} - 10px);
          float: right;
          .c-img-body__img {
            padding-top: percentage(287/480);
          }
          margin-bottom: 30px;
          margin-left: 0;
        }
      }
    }
  }
  .c-link-text {
    margin-bottom: 150px;
    .c-text {
      text-align: center;
      font-size: 12px;
      line-height: 15px;
    }

    .c-link-text {
      text-align: center;
      font-size: 6px;
      margin: 30px 0;
      a {
        color: $color-black;
        padding-bottom: 3px;
        border-bottom: 1px solid rgba($color-black, 0.5);
        @include transition-default;
        &:hover {
          text-decoration: none;
        }
      }
    }
    .c-img-body {
      margin-bottom: 70px;
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
          width: 100%;
          float: left;
          margin-bottom: 10px;
          .c-img-body__img {
            position: relative;
            z-index: 1;
            display: block;
            p {
              position: absolute;
              z-index: 3;
              top: 20px;
              left: 20px;
              span {
                color: $color-black;
                display: block;
                &:first-child {
                  font-size: 20px;
                  font-weight: 700;
                  text-transform: uppercase;
                }
                &:last-child {
                  font-size: 17px;
                }
              }
            }
            img {
              width: 100%;
              position: relative;
              z-index: 2;
            }
            &.is-link {
              text-align: center;
              color: $color-black;
              @include transition-default;
              padding-top: 35%;
              background: $color-gray;
              text-decoration: none;
              span {
                position: absolute;
                z-index: 2;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 20px;
              }
            }
            &.is-white {
              p {
                span {
                  color: $color-white;
                }
              }
            }
          }
        }
      }
    }

    //example responsive css
    @media (min-width: $screen-sm-min) {
      //mobile lanscape
    }
    @media (min-width: $screen-md-min) {
      //ipad portrait
      .c-img-body {
        margin-bottom: 100px;
        ul {
          li {
            //margin: 0 20px 34px 0;
            .c-img-body__img {
              p {
                top: 35px;
                left: 35px;
              }
              img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
              }
            }
            &:nth-child(7n + 1) {
              width: percentage(685/1200);
              .c-img-body__img {
                padding-top: percentage(599/680);
              }
              margin-bottom: 30px;
            }
            &:nth-child(7n + 2) {
              width: percentage(470/1200);
              //float: right;
              .c-img-body__img {
                padding-top: percentage(287/480);
              }
              margin-bottom: 25px;
              margin-left: 20px;
            }
            &:nth-child(7n + 3) {
              width: percentage(470/1200);
              //float: right;
              .c-img-body__img {
                padding-top: percentage(287/480);
              }
              margin-left: 20px;
              margin-bottom: 30px;
            }
            &:nth-child(7n + 4) {
              width: percentage(580/1200);
              .c-img-body__img {
                padding-top: percentage(351/580);
              }
              margin-bottom: 30px;
            }
            &:nth-child(7n + 5) {
              width: percentage(580/1200);
              //float: right;
              .c-img-body__img {
                padding-top: percentage(351/580);
              }
              margin-left: 20px;
              margin-bottom: 30px;
            }
            &:nth-child(7n + 6) {
              width: percentage(780/1200);
              .c-img-body__img {
                padding-top: percentage(433/780);
              }
            }
            &:nth-child(7n + 7) {
              width: percentage(380/1200);
              //float: right;
              .c-img-body__img {
                padding-top: percentage(433/380);
              }
              margin-left: 20px;
            }
          }
        }
      }
      .c-text {
        font-size: 30px;
        line-height: 40px;
      }

      .c-link-text {
        font-size: 15px;
        margin: 50px 0;
        a {
          padding-bottom: 5px;
          &:hover {
            color: $color-primary;
            border-bottom: 1px solid $color-primary;
          }
        }
      }
    }

    @media (min-width: $screen-lg-min) {
      //ipad lanscape & pc 1024x768px
      .c-img-body {
        ul {
          li {
            //margin: 0 10px 34px 0;
            .c-img-body__img {
              &.is-link {
                &:hover {
                  color: $color-primary;
                }
              }
            }
            &:nth-child(7n + 1) {
              width: percentage(673/1200);
              .c-img-body__img {
                padding-top: percentage(599/680);
              }
              margin-bottom: 30px;
            }
          }
        }
      }

      .c-text {
        font-size: 40px;
        line-height: 50px;
      }
      .c-link-text {
        margin-bottom: 150px;
        font-size: 17px;
      }
    }
    @media (min-width: $screen-xl-min) {
      //pc & mac 1280px grow up
      .c-img-body {
        ul {
          li {
            //margin: 0 10px 34px 0;
            .c-img-body__img {
              &.is-link {
                &:hover {
                  color: $color-primary;
                }
              }
            }
            &:nth-child(7n + 1) {
              width: percentage(680/1200);
              .c-img-body__img {
                padding-top: percentage(599/680);
              }
              margin-bottom: 30px;
            }
          }
        }
      }
    }
    //end example responsive css
    /*---------- end example css ----------*/
  }
}
@media (min-width: $screen-xl-min) {
  //pc & mac 1280px grow up
  .c-img-body {
    ul {
      li {
        .c-img-body__img {
          &.is-link {
            &:hover {
              color: $color-primary;
            }
          }
        }
        &:nth-child(7n + 2) {
          margin-bottom: 22px;
        }
      }
    }
  }
}
//end example responsive css
/*---------- end example css ----------*/
